<div class="global-content">
  <div class="normal-content">
    <app-preselection [form]="formPreselection" [isDistribution]="true" (validerEvent)="validerPreselection()"> </app-preselection>
    <h3 class="d-flex">
      Liste des exemplaires
      <div class="badge badge-info ml-1 mt-auto">{{ nombreExemplairesTotal }}</div>
    </h3>
  </div>
  <div class="remain-content">
    <app-tableau
      [gridOptions]="gridOptions"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [overlayNoRowsTemplate]="overlayNoRowsTemplate"
      [pagination]="true"
      [enableFullEdit]="false"
      [enableExportButtons]="true"
      [disablePdfExportButton]="true"
      [asynchronousErrors$]="asynchronousErrors$"
      (gridReady)="onGridReady($event)"
      (exportAsExcel)="export($event)"
    ></app-tableau>
  </div>
</div>
