/* File: src/app/shared/components/modal/details/details-modal.component.scss */

ul.nav-tabs {
  border-bottom: 2px solid #ddd;
}

ul.nav-tabs .nav-item {
  margin-bottom: -1px;
}

ul.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  // color: #007bff;
}

ul.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #ddd #ddd #fff;
}

ul.nav-tabs .nav-link:hover {
  border-color: #e9ecef #e9ecef #ddd;
}

.popup_detail {
  width: 1200px;
  max-width: 1200px;
}
