.icon-password {
  float: right;
  right: 25px;
  width: 20px;
  height: 15px;
  bottom: 20px;
  position: relative;
  z-index: 2;
}

.position-absolute {
  position: absolute;
}

.pr-30 {
  padding-right: 30px;
}
