::ng-deep .dropdown-menu.show {
  width: auto;
}

::ng-deep .ngb-dp-arrow-btn {
  margin: 0 0.5rem !important;
}

.btn-today {
  background-color: #5a76b7;
  color: #fff;
}

.btn-today:hover {
  background-color: #465d93;
}
