.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table thead th {
  background-color: #ebeef3;
}

.table thead th {
  padding: 12px 5px;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-striped tbody tr:nth-child(odd) {
  --bs-table-striped-bg: rgb(249, 249, 249);
}

.errorForm {
  color: red;
  font-size: 14px;
  font-weight: 600;
  padding: 15px;
  text-align: center;
}

.popup-tableau {
  width: 100%;
  height: 330px;
}

.no-rows {
  font-weight: 600;
}
