:host {
  width: 100%;
}

// Couleurs en cas d'erreur
div.error {
  border-color: #ff8080 !important;
  border-bottom-color: #ff0000 !important;
}

.hover-color:hover {
  background: #276cc8;
}

.selected-color {
  background: darkgrey;
}

.pointer {
  cursor: pointer;
  label {
    cursor: pointer;
  }
}
