header {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #aeaeae;
  background: linear-gradient(to bottom, #fafafa, #e2e2e3);
  position: relative;
  list-style: none;
  line-height: 0.9em;
  white-space: nowrap;
  height: 70px;
}

#sidebar {
  min-width: 275px;
  max-width: 275px;
  background-color: #f6f6f6;
  min-height: 100%;
}

#sidebar.active {
  margin-left: -275px;
}

.header {
  background-color: aqua;
  flex: 0 1 auto;
}

.content {
  background-color: #f6f6f6;
  display: flex;
  flex: 1 1 auto;
  align-items: stretch;
  width: 100%;
}

.sub-content {
  display: flex;
}

.footer {
  background-color: blueviolet;
  flex: 0 1 15px;
}

.wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.page {
  width: 100%;
}

.default-screen-padding {
  height: calc(100% - 40px);
}

::ng-deep .ag-theme-alpine .ag-icon-none,
::ng-deep .ag-theme-alpine .ag-icon-asc,
::ng-deep .ag-theme-alpine .ag-icon-desc {
  padding-left: 2rem !important;
}

::ng-deep .nav-tabs .nav-link.active {
  isolation: isolate;
}

::ng-deep .ag-theme-alpine .ag-indeterminate:before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='2 2 16 16'%3e%3cpath fill='none' stroke='%232462D5' stroke-width='8' d='M6 10h8'/%3e%3c/svg%3e");
  background-size: 1.214rem;
  background-position: center;
}
