<!-- TODO -->
<!-- <ngb-accordion #accordion="ngbAccordion" [activeIds]="openedByDefault ? 'accordion' : ''">
  <ngb-panel id="accordion">
    <ng-template ngbPanelHeader>
      <div class="accordion-container">
        <button class="toggle-accordion" ngbPanelToggle (click)="toggled()">
          <svg-icon *ngIf="openedByDefault" [src]="'assets/icones-showcase/minus-solid.svg'" [svgStyle]="{ 'width.em': 1.375, 'height.em': 1.375, 'fill': '#FFF'}" title="Plier"></svg-icon>
          <svg-icon *ngIf="!openedByDefault" [src]="'assets/icones-showcase/plus-solid.svg'" [svgStyle]="{ 'width.em': 1.375, 'height.em': 1.375, 'fill': '#FFF'}" title="Déplier"></svg-icon>
        </button>

        <ng-content select="[header]"></ng-content>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <ng-content select="[body]"></ng-content>
    </ng-template>
  </ngb-panel>
</ngb-accordion> -->
