<app-onglet [type]="ongletTypeEnum.PREMIER_NIVEAU" [tabs]="onglets" [active]="active" (activeChange)="activeChange($event)">
  <!-- Header de l'onglet -->
  <ng-container *ngFor="let onglet of onglets; index as index">
    <app-onglet-header-container *appCheckPermission="onglet.perm">
      <app-onglet-header class="d-flex" [tab]="onglet" [type]="ongletTypeEnum.PREMIER_NIVEAU"></app-onglet-header>
    </app-onglet-header-container>
  </ng-container>
  <!-- Contenu de l'onglet -->
  <div class="onglet" *ngIf="labelActif === ongletNumEnum.ONGLET_NUMBER_DOCUMENT_DEMAT_CONSULT">
    <app-document-dematerialise-consultation></app-document-dematerialise-consultation>
  </div>
  <div class="onglet" *ngIf="labelActif === ongletNumEnum.ONGLET_NUMBER_DOCUMENT_DEMAT_VIDEO">
    <app-document-dematerialise-video></app-document-dematerialise-video>
  </div>
</app-onglet>
