<div class="global-content">
  <div class="normal-content">
    <app-search-occurrence-application (applySearchEvent)="lister($event)" [isIntervalStart]="isIntervalStart"></app-search-occurrence-application>
  </div>
  <div class="normal-content">
    <h3 class="d-flex">Liste des occurrences</h3>
  </div>
  <div class="remain-content">
    <app-timeline
      [dataInput]="dataToSend"
      [isIntervalStart]="isIntervalStart"
      [dateDebut]="dateDebut"
      (applySearchEvent)="applySearch()"
    ></app-timeline>
  </div>
  <div *ngIf="toShowAction" id="action" class="row">
    <div class="col-12 text-center">
      <button type="button" class="btn btn-primary" (click)="startStop()">
        <i class="icone" [ngClass]="{ 'icon-b_play': !isIntervalStart, 'icon-b_pause': isIntervalStart }"></i>{{ textStartStop }}
      </button>
    </div>
  </div>
</div>
