.row-label {
  border-bottom: 0.1rem solid #d8d8d8;
  text-align: center;
}

.row-label label {
  cursor: pointer;
}

.errorForm {
  color: red;
  font-size: 14px;
  font-weight: 600;
  padding: 15px;
  text-align: center;
}

.tab-content {
  width: 550px;
}
