<div class="form row" *ngIf="form">
  <label
    *ngIf="label"
    for="textarea{{ index }}"
    class="col-{{ labelColumns }} col-form-label"
    [ngStyle]="{ width: labelWidth + 'px' }"
    [ngClass]="{ 'col-form-label-fix': labelWidth }"
    >{{ label }}</label
  >
  <!-- RÉTROCOMPATIBILITÉ : Retirer la classe pe-0 -->
  <div class="col-{{ inputColumns }} position-relative">
    <!-- RÉTROCOMPATIBILITÉ : Ajouter la class error sur l'input en cas d'erreur -->
    <textarea
      class="form-control"
      rows="{{ textareaRows }}"
      id="textarea{{ index }}"
      [formControl]="form"
      [placeholder]="placeholder"
      [maxlength]="maxLength"
      [ngClass]="{
        warning: !form.valid && !form.disabled && !isError && form.touched,
        error: !form.valid && !form.disabled && isError && form.touched,
      }"
    ></textarea>
    <!-- RÉTROCOMPATIBILITÉ : Remonter le span dans la div col et supprimer les classes inutiles -->
    <span
      *ngIf="!form.valid && !form.disabled && !isError && form.touched"
      class="icon-warning d-flex align-items-center"
      aria-hidden="true"
      ngbPopover="{{ errorMessage }}"
      triggers="mouseenter:mouseleave focus"
      tabindex="0"
    ></span>
    <span
      *ngIf="!form.valid && !form.disabled && isError && form.touched"
      class="icon-error d-flex align-items-center"
      aria-hidden="true"
      ngbPopover="{{ errorMessage }}"
      triggers="mouseenter:mouseleave focus"
      tabindex="0"
    ></span>
    <div *ngIf="maxLength" class="textarea-counter">{{ form.value.length }} / {{ maxLength }} caractères</div>
  </div>
</div>
