<div class="global-content">
  <div class="normal-content">
    <app-search-action (applyEvent)="lister($event)"></app-search-action>
  </div>
  <div class="normal-content">
    <h3 class="d-flex">
      Liste des actions
      <div class="badge badge-info ml-1 mt-auto">{{ nombreActionTotal }}</div>
    </h3>
  </div>
  <div class="remain-content">
    <app-tableau
      [gridOptions]="gridOptions"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [overlayNoRowsTemplate]="overlayNoRowsTemplate"
      [pagination]="true"
      [enableAddButton]="false"
      [enableFullEdit]="false"
      [enableExportButtons]="false"
      [asynchronousErrors$]="asynchronousErrors$"
      (gridReady)="onGridReady($event)"
    ></app-tableau>
  </div>
</div>
