.table-wrapper {
  max-height: 350px;
  overflow: auto;
  display: inline-block;
}
.table {
  table-layout: fixed;
  width: 100%;
}
.table thead th {
  background-color: #f8f9fa;
}
.table td {
  overflow-wrap: break-word;
}

.global-content {
  height: 400px;
  overflow-x: auto;
}
