<div class="d-flex">
  <button
    *ngIf="!isDisabled"
    class="btn-no-style collapse-icon"
    (click)="collapse.toggle()"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapse"
  >
    <i *ngIf="isCollapsed" aria-hidden="true" class="icon-plus"></i>
    <i *ngIf="!isCollapsed" aria-hidden="true" class="icon-minus"></i>
  </button>
  <div class="form-check" [ngClass]="{ 'pl-0': !isDisabled }">
    <div
      class="form-check-label font-weight-semi-bold pointer"
      [ngClass]="{
        'hover-color': isDisabled,
        'selected-color': isDisabled && isSelected(key),
      }"
      (click)="isDisabled ? sendSelectedElement(key) : collapse.toggle()"
    >
      {{ key }}
    </div>
  </div>
</div>
<div>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="collapse-container">
    <div
      class="form-check hover-color pl-0"
      [ngClass]="{ 'selected-color': isSelected(item.key) }"
      *ngFor="let item of form['controls'] | keyvalue; let index = index"
    >
      <div class="form-check-label pointer" (click)="sendSelectedElement(item.key)">
        {{ item.key }}
      </div>
    </div>
  </div>
</div>
