.pt-mr-1 {
  padding-top: 0.5rem;
  margin-right: 0.5rem;
}
.form-check .form-check-input {
  float: right;
  margin-top: 0.5rem;
}
.col-1-s {
  flex: 0 0 auto;
  width: 8%;
}
.col-2-s {
  flex: 0 0 auto;
  width: 14%;
}
.col-2-sg {
  flex: 0 0 auto;
  width: 15%;
}
.col-2-ss {
  flex: 0 0 auto;
  width: 10%;
}
