.popup-edit-fichier {
  width: 830px;
}

.popup-edit-fichier .checkbox-eclatement {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.popup-edit-fichier .tab-content {
  padding: 1.5rem 0 0 0;
  height: 315px;
  overflow-y: auto;
}
