<div class="global-content">
  <div class="normal-content">
    <h3 class="d-flex">
      Liste des destinataires
      <div class="badge badge-info ml-1 mt-auto">{{ nombreTotal }}</div>
    </h3>
  </div>
  <div class="remain-content">
    <app-tableau
      [gridOptions]="gridOptions"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [overlayNoRowsTemplate]="overlayNoRowsTemplate"
      [pagination]="true"
      [canAddPerm]="canAddPermPosition"
      [canRemovePerm]="canRemovePermPosition"
      [addGroupButton]="true"
      [enableFullEdit]="false"
      [enableExportButtons]="true"
      [asynchronousErrors$]="asynchronousErrors$"
      (gridReady)="onGridReady($event)"
      (saveEdition)="onSaveEdition($event)"
      (deleteRows)="onDeleteRow($event)"
      (addGroup)="openPopup($event)"
      (exportAsPDF)="export($event)"
      (exportAsExcel)="export($event)"
    ></app-tableau>
  </div>
</div>
